In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('voting-weights/data/nytimes_presidential_elections_2016_results_county.csv')

In [37]:
clintonVotes = df['Clinton'].groupby(df['State'])
clintonVotes.sum()

State
Alabama            718084.0
Arizona            888374.0
Arkansas           378729.0
California        5488776.0
Colorado          1208095.0
Connecticut        823360.0
Delaware           235581.0
Florida           4485745.0
Georgia           1837300.0
Hawaii             266827.0
Idaho              189677.0
Illinois          2977498.0
Indiana           1031953.0
Iowa               650790.0
Kansas             414788.0
Kentucky           628834.0
Louisiana          779535.0
Maine              354873.0
Maryland          1497951.0
Massachusetts     1964768.0
Michigan          2267373.0
Minnesota         1366653.0
Mississippi        462001.0
Missouri          1054889.0
Montana            174521.0
Nebraska           273858.0
Nevada             537753.0
New Hampshire      348126.0
New Jersey        1979768.0
New Mexico         380724.0
New York          4143541.0
North Carolina    2162074.0
North Dakota        93526.0
Ohio              2317001.0
Oklahoma           419788.0
Oregon             934631.0
Pennsylvania      2844705.0
Rhode Island       227052.0
South Carolina     849469.0
South Dakota       117442.0
Tennessee          867110.0
Texas             3867816.0
Utah               222858.0
Vermont            178117.0
Virginia          1916845.0
Washington        1221435.0
West Virginia      187457.0
Wisconsin         1382210.0
Wyoming             55949.0
Name: Clinton, dtype: float64

In [17]:
trumpVotes = df['Trump'].groupby(df['State'])

In [30]:
namesDf = pd.DataFrame(data=trumpVotes.sum().index, columns=['State'])
trumpDf = pd.DataFrame(data=trumpVotes.sum().values, columns=['Trump'])
clintonDf = pd.DataFrame(data=clintonVotes.sum().values, columns=['Clinton'])

In [36]:
tm = pds.merge(namesDf, trumpDf, left_index=True, right_index=True)
stateVotes = pd.merge(tm, clintonDf, left_index=True, right_index=True)
stateVotes

             State      Trump    Clinton
0          Alabama  1306925.0   718084.0
1          Arizona   972900.0   888374.0
2         Arkansas   677904.0   378729.0
3       California  2970470.0  5488776.0
4         Colorado  1136354.0  1208095.0
5      Connecticut   637919.0   823360.0
6         Delaware   185103.0   235581.0
7          Florida  4605515.0  4485745.0
8          Georgia  2068623.0  1837300.0
9           Hawaii   128815.0   266827.0
10           Idaho   407199.0   189677.0
11        Illinois  2118179.0  2977498.0
12         Indiana  1556220.0  1031953.0
13            Iowa   798923.0   650790.0
14          Kansas   656009.0   414788.0
15        Kentucky  1202942.0   628834.0
16       Louisiana  1178004.0   779535.0
17           Maine   334838.0   354873.0
18        Maryland   873646.0  1497951.0
19   Massachusetts  1083069.0  1964768.0
20        Michigan  2279210.0  2267373.0
21       Minnesota  1322871.0  1366653.0
22     Mississippi   678457.0   462001.0
23        Missouri  1585753.0  1054889.0
24         Montana   274120.0   174521.0
25        Nebraska   485819.0   273858.0
26          Nevada   511319.0   537753.0
27   New Hampshire   345598.0   348126.0
28      New Jersey  1516915.0  1979768.0
29      New Mexico   315875.0   380724.0
30        New York  2637678.0  4143541.0
31  North Carolina  2339603.0  2162074.0
32    North Dakota   216133.0    93526.0
33            Ohio  2771984.0  2317001.0
34        Oklahoma   947934.0   419788.0
35          Oregon   742506.0   934631.0
36    Pennsylvania  2912941.0  2844705.0
37    Rhode Island   166590.0   227052.0
38  South Carolina  1143611.0   849469.0
39    South Dakota   227701.0   117442.0
40       Tennessee  1517402.0   867110.0
41           Texas  4681590.0  3867816.0
42            Utah   375006.0   222858.0
43         Vermont    95050.0   178117.0
44        Virginia  1731156.0  1916845.0
45      Washington   835385.0  1221435.0
46   West Virginia   486198.0   187457.0
47       Wisconsin  1409467.0  1382210.0
48         Wyoming   174248.0    55949.0

In [38]:
stateVotes.to_csv(r'voting-weights/data/state-votes.csv')